@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow: hidden;
}

.tech_stack {
  
}

.tech_stack::-webkit-scrollbar {
  width: 2px;
  opacity: 0.4;
}

.tech_stack::-webkit-scrollbar-track {
  width: 1px;
  background: transparent;
  border-bottom: 10px solid white;
}

.tech_stack::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 20px;

}